*{
 padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box } 


html{
    height: 100%;
    
    
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  

}



  
.cabecalho .container { 
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
height: 46px;
background: #3f3f44;


}

.flix { color:yellow;

}

.btnmenu-ul { 
  display: flex;
  list-style: none;
  
}
.btnmenu { 
  background-color: yellow;
  color: #3f3f44;
  padding: 5px;
  margin: 10px;
  margin-bottom: auto;
  justify-content:space-around;
  border-radius: 5px;
}

.catalogo {
display: flex;
padding: 0%;
background-color:#CDC5BF;
padding-left: 15%;
padding-right: 15%;


}

.menu-catalogo{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.capa {
  margin: 15px ;
  border-radius: 10px;
}










/*codigo abaixo do rodapé */

footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  height: 80px;
  background-color: #3f3f44;
  

}
.icon-div{
  display: flex;
  align-items: center;
  height: 50px;
  

} 

.icon { /*Botões do rodapé*/
  display: flex;
  margin-top: 20px;
  align-items: center;
  width:60px;
  height:35px;
  justify-content: space-around;
}

#ltd 
{
color: yellow;
font-size: 15px;
margin-top: 10px;
font-family:Verdana;
}

/*mobile*/

@media(max-width:768px) {
.container{
  display: flex;
  flex-direction: column;
  padding: 150px;
  height: auto;

 
}

.flix {
  font-size: 45px;
  margin-left: 15px;
}
.btnmenu-ul { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}
.btnmenu { 
  width: 100%;
  padding: auto;
  font-size: 20px;
  margin-bottom: 2px;
  
}

.catalogo {
display: flex;
justify-content: center;
align-items: center;


}
.menu-catalogo { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:10px;
    
}

.capa { 
padding: auto;
border-radius: 10px;


}

}




  











